@{
    var displayMessage = ViewData["StatusMessage"] as string;
    var statusMessageClass = displayMessage?.StartsWith("Error") == true ? "danger" : "success";
}
@if (!string.IsNullOrEmpty(displayMessage))
{
    <div class="alert alert-@statusMessageClass" role="alert">
        @displayMessage
    </div>
}
