@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
@* its asp part of code so this is the page that the logout that works uses yes. 
is it the same page used on this other menu ? yes. but navbar using blazor 
ok and nav bar is the one not working ?yes where is the blazor part sorry


its 
could u thank u put menu s in in english sorry. sorry cant find it 
can u transalte the page lol
lol ok p i just wanted to check the html to see what the link was on the one that didnt 
work vs the  one that did work could u show me that in the browser 


 *@