
@inject NavigationManager NavigationManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp2024</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="category" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="product" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Product
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="/cart" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Cart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="/order/list" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Order List
            </NavLink>
        </div>
				<AuthorizeView>
					<Authorized>
						<li class="nav-item">
							<button class="nav-link active me-2" style="cursor: pointer; background: transparent; border: 0px;">
								Welcome, @context?.User?.Identity?.Name
							</button>
						</li>
						<li class="nav-item">
							<form action="Identity/Account/Logout" method="post">
								<AntiforgeryToken />
								<input type="hidden" name="ReturnUrl" value="" />
								<button type="submit" class="nav-link btn btn-success">
									<span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
								</button>
							</form>
						</li>
					</Authorized>
					<NotAuthorized>
						<li class="nav-item">
							<NavLink class="nav-link" href="Identity/Account/Register">
								<span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
							</NavLink>
						</li>
						<li class="nav-item">
							<NavLink class="nav-link btn btn-success" href="Identity/Account/Login">
								<span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
							</NavLink>
						</li>
					</NotAuthorized>
				</AuthorizeView>
			
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
